/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
@import url('./reset.css');
@import url('./vite-promo.css');
@import url('./header.css');

:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color: #242424;
  background-color: rgba(255, 255, 255, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

ul {
  list-style-type: none;
}

.gallery {
  display: flex;
  width: 1440px;
  height: auto;
  padding: 24px 156px;
  flex-wrap: wrap;
  gap: 24px;

}

.gallery-item {
  width: calc((100% - 48px) / 3);
}

.gallery-item:hover {
  transform: scale(1.04);
}

.gallery-image {
  display: block;
  width: 100%;
  height: auto;
}

.feedback-form {
  width: 360px;
  height: 80px;
  flex-shrink: 0;
}

.feedback-form > label {
  width: 100%;
  margin-bottom: 8px;
  padding: 8px;
  display: flex;
  flex-direction: column;
}

.feedback-form input,
.feedback-form textarea {
  font: inherit;
  padding: 8px;
  border-radius: 8px;
}

.feedback-form textarea {
  resize: none;
}

button {
display: flex;
padding: 8px 16px;
justify-content: center;
align-items: center;
gap: 10px;
border-radius: 8px;
background: #4E75FF;
color: #FFF;
font-size: 16px;
line-height: 24px;
letter-spacing: 0.64px;
}